

html, body, #root {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
  user-select: none;
  z-index: 1;
}

* {
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1)!important;
    scrollbar-width: thin!important;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2)!important;
}
*::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1)!important;
}
*::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

#root {
    position: absolute;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0
}

input[type="number"] {
    appearance: none;
    -moz-appearance: none;
    direction: 'ltr'
}